
body {
    background-color: #eeeeee;
}


.box {
	font-weight: bold;
	font-family: helvetica;
	border: 0px solid blue;
	min-height: 50px;
	text-align: center;
	font-size: 1.2rem;
	width: 100%;
	user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        background-color: #ffffff;
        border-radius: 2px;
}

